.layout{
    height: 100%;
    .layout-header{
        height:7vh;
        padding-top: 0;
        color: #3e7fee;
        box-shadow: 0px 0 3px 0 rgba(0, 0, 0, 0.5);
    }
    .layout-menu{
        height:93vh;
        padding-top: 0;
        background-color: red;
    }
}