.not-found {
	background-color: #f0f2f5;
	height: 100%;

	.left {
		height: 100%;
		background: url(./images/404.png) no-repeat center;
	}
	.right {
		padding-left: 50px;
		margin-top: 400px;
		h1 {
			font-size: 35px;
		}
		h2 {
			margin-bottom: 20px;
			font-size: 20px;
		}
	}
}
